.category-stories {
	width: 69%;
}

.category-stories .category-stories__heading {
	font-size: 25px;
}

.category-stories .category-stories__heading::after {
	content: '';
	border-bottom: 3px solid #F08080;
	width: 70px;
	display: block;
	padding-top: 5px;
}

.category-stories .category-story {
    margin-top: 20px;
}

.category-stories .category-story:hover {
    transform: scale(1.01);
}

.category-stories .category-story__horizontal-ruler {
    width: 100%;
    margin-top: 20px;
    background: #F0F0F0 0% 0% no-repeat padding-box;
    height: 2px;
}

.category-stories .category-story__info {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.category-stories .category-story__image {
    height: 150px;
    width: 25%;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: auto 100% !important;
    margin-right: 20px;
    box-shadow: 0px 5px 10px #0000000D;
}

.category-story__details {
    width: 65%;
}

.category-stories .category-story__heading {
    font-size: 20px;
}

.category-stories .category-story__desc {
    letter-spacing: 0px;
    color: #908D8D;
    font-size: 14px;
}

.category-stories .category-story__category-and-time {
    font-size: 13px;
    margin-top: 20px;
}

.category-stories .category-story__category {
    font-weight: bold;
}

.category-stories .category-story__time {
    letter-spacing: 0.85px;
    color: #404040;
}

@media screen and (max-width: 768px) {
    .category-stories {
        width: 100%;
    }

    .category-stories .category-story__image {
        height: 110px;
        width: 150%;
        margin-right: 10px;
        margin-top: 10px;
    }

    .category-stories .category-story__horizontal-ruler {
        margin-top: 30px;
    }

    .category-stories .category-story__desc {
        height: 38px;
        overflow: hidden;
    }

    .category-stories .category-story {
        margin-top: 30px;
    }
}